.search_btn {
  position: absolute;
  top:0;
  right: 20px;
}

.row {
  margin-bottom: 0px;
}

.input-field {
  margin-bottom: 0px;
}

.boxRadio {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}